:root {
    --primary-color: #ff5126;
    --secondary-color: #daebee;
    --accent-color: #b6d7de;
    --bg-color: #fcedda;
    --heading-font: 'Abril Fatface', cursive;
    --default-font: 'Poppins', sans-serif;

}

body {
    background: var(--bg-color);
    font-family: var(--default-font);
}

h1 {
    font-family: var(--heading-font);
    font-size: 60px;
    color: var(--primary-color);

}

h2 {
    font-size: 20px;
    font-family: var(--default-font);
    line-height: 2;
}

p {
    font-family: var(--default-font);
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px;
    border-radius: 5px;
}

.btn-contact {
    background: var(--bg-color);
    border-radius: 4px;
    border: solid var(--accent-color) 2px;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}